


/* Header */


/* Hero Section */
.page1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 200px;
}


.page1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 200px 130px;
    width: 100%; 
    max-width: none; 
    gap: 200px;
}

.page1 h5 {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 14px;
}

.page1 h5 span {
    background-color: #f36d00;
    padding: 0.8px 10px;
}

.page1 h1 {
    font-size: 62px;
    font-weight: 1px;
    margin: 10px 0;
    line-height: 4.5rem;
}

.page1 h1 span {
    color: var(--second-bg-color);
}

.page1 p {
    color: #555;
    justify-content: center;
    align-items: center;
}

.info-boxes {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.info-box {
    display: flex;
    gap: 10px;
    align-items: center;
}

.bar {
    width: 18px;
    height: 50px;
    background: var(--second-bg-color);
}

.info-box h3 {
    margin: 0;
    font-size: 1.3rem;
}

.page-img {
    position: relative;
    width: 300%;
}

.page-img img {
    width: 40%;
    border-radius: 10px;
    margin-left: auto;
    position: relative;
    
}

.page-img p {
    color: #ffffff;
}

.small-img {
    position: absolute;
    bottom: -38px;
    left: -30px;
    width: 250px;
    height: 250px;
    border: 5px solid white;
}

.small-img2 {
    position: absolute;
    bottom: 10px;
    right: -30px;
    width: 250px;
    height: 200px;
    border: 5px solid white;
}

.small-img3 {
    position: absolute;
    bottom: -13px;
    right: 5px;
    width: 300px;
    height: 300px;
    border: 5px solid white;
}

.badge {
    position: absolute;
    bottom: 8px;
    right: 108px;
    background: var(--second-bg-color);
    color: white;
    padding: 19px 50px;
    border-radius: 10px;
    text-align: center;
}

.badge h2 {
    margin: 0;
    font-size: 70px;
}
